/* Estilo base */
html {
    background-color: #212121;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #212121 !important;/* Dark gray background */
    color: #fff; /* White text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303030; /* Slightly darker background for container */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 20px 0;
}

.header {
    display: flex;
    align-items: center, center;
    margin-bottom: 20px;
    width: 40%;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif !important
}

.logo {
    font-size: 36px;
    margin-right: 10px;
    color: #007bff; /* Blue logo */
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    color: #fff !important;
}

textarea {
    width: 300px !important;
    height: 80px !important;
    background-color: #424242; /* Darker background for textarea */
    color: #fff;
    border: 1px solid #6c757d;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
}

.info {
    text-align: center;
    margin-top: 10px;
    color: #999;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #6c757d;
    width: 100%;
}